IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = Object_id('temp_replacement_codes_2009') AND type = 'U')
  BEGIN
    DROP table temp_replacement_codes_2009
  END
go

CREATE TABLE temp_replacement_codes_2009 (
	Code char(255),
	literalwheninactivated char(255),
	lvcwa float,
	replacementcode char(255))
go

INSERT INTO temp_replacement_codes_2009 VALUES (
	'ANT004000',
	'ANTIQUES & COLLECTIBLES / Baskets',
	2.1,
	'ANT000000')
INSERT INTO temp_replacement_codes_2009 VALUES (
	'ANT013000',
	'ANTIQUES & COLLECTIBLES / Dance',
	2.1,
	'ANT025000')
INSERT INTO temp_replacement_codes_2009 VALUES (
	'ANT014000',
	'ANTIQUES & COLLECTIBLES / Disneyana',
	2.1,
	'ANT001000')
go
