<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AMPtoTM_test.appSettings" type="System.Configuration.NameValueFileSectionHandler" />
	</configSections>
	<AMPtoTM_test.appSettings>
		<add key="interface_id" value="AMPtoTM_test" />
		<add key="interface_sproc_name" value="AMP_To_TM_test_Interface" />
		<add key="TMMdbConnection" value="Data Source=MONTY;Database=AMP_DEV;User ID=qsidba;Password=qsidba" />
		<add key="logfilelocation" value="." />
		<add key="tempfilelocation" value="." />
		<add key="source_type" value="table" />
		<add key="source" value="AMP_Dev.dbo.AMP_ProductInformation" />
		<add key="source_schema_if_xml" value="" />
		<add key="source_connection_if_db" value="" />
	</AMPtoTM_test.appSettings>
</configuration>