IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = Object_id('temp_sgt_inactives_2010') AND type = 'U')
  BEGIN
    DROP table temp_sgt_inactives_2010
  END
go

CREATE TABLE temp_sgt_inactives_2010 (
	Code char(255))
go
INSERT INTO temp_sgt_inactives_2010 VALUES (
	'ANT004000')
INSERT INTO temp_sgt_inactives_2010 VALUES (
	'ANT013000')
INSERT INTO temp_sgt_inactives_2010 VALUES (
	'ANT014000')
go