IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HTMLTags]') AND type in (N'U'))
BEGIN
	PRINT 'HTMLTags table has not been installed'
	RETURN
END

SET NOCOUNT ON

--create a temp table with all possible generic tag substitutions
--drop table #HTMLTags
--truncate table HTMLTags
CREATE TABLE #HTMLTags (
	[SYSTEM_RECORD] [bit] NOT NULL
	,[HTMLTagsKey] [int] IDENTITY(1, 1) NOT NULL
	,[HTMLTagString] [varchar](255) NOT NULL
	,[ReplacementStringASCIIMode] [nvarchar](255)
	,[ReplacementStringHTMLLiteMode] [nvarchar](255)
	,[HTMLEscapeCode] [bit] NOT NULL
	,[ASCIIMode] [bit] NOT NULL
	,[HTMLLiteMode] [bit] NOT NULL	
	,LastUser [varchar](255) NOT NULL 
	,LastMaintDate datetime NOT NULL 
	,Notes [varchar](255) NOT NULL
	)

--namespaced tags
insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'<o:p',1,1,'CRLF','<P>',0,'qsiDBA',GetDate(),'Generic')
insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'</o:p',1,1,'CRLF','</P>',0,'qsiDBA',GetDate(),'Generic')
insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'<o',1,1,null,null,0,'qsiDBA',GetDate(),'Generic')

--odd tags


--Standard HTML tags


--standard closing tags

--escaped characters








--These came from Ben's table called htmlconvert_tool
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#338;',1,0, N'Œ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#339;',1,0, N'œ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#352;',1,0, N'Š',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#353;',1,0, N'š',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#376;',1,0, N'Ÿ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#402;',1,0, N'ƒ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#710;',1,0, N'ˆ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#732;',1,0, N'˜',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8194;',1,0, N' ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8195;',1,0, N' ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8201;',1,0, N' ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8204;',1,0, N'‌',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8205;',1,0, N'‍',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8206;',1,0, N'‎',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8207;',1,0, N'‏',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8218;',1,0, N'‚',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8222;',1,0, N'„',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8224;',1,0, N'†',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8225;',1,0, N'‡',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8240;',1,0, N'‰',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8242;',1,0, N'′',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8249;',1,0, N'‹',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8250;',1,0, N'›',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8254;',1,0, N'‾',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8364;',1,0, N'€',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8465;',1,0, N'ℑ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8472;',1,0, N'℘',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8476;',1,0, N'ℜ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8501;',1,0, N'ℵ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8592;',1,0, N'←',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8593;',1,0, N'↑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8594;',1,0, N'→',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8595;',1,0, N'↓',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8596;',1,0, N'↔',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8629;',1,0, N'↵',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8656;',1,0, N'⇐',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8657;',1,0, N'⇑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8658;',1,0, N'⇒',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8659;',1,0, N'⇓',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8660;',1,0, N'⇔',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8704;',1,0, N'∀',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8706;',1,0, N'∂',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8707;',1,0, N'∃',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8709;',1,0, N'∅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8711;',1,0, N'∇',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8712;',1,0, N'∈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8713;',1,0, N'∉',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8715;',1,0, N'∋',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8719;',1,0, N'∏',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8721;',1,0, N'∑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8722;',1,0, N'−',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8727;',1,0, N'∗',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8730;',1,0, N'√',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8733;',1,0, N'∝',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8734;',1,0, N'∞',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8736;',1,0, N'∠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8743;',1,0, N'∧',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8744;',1,0, N'∨',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8745;',1,0, N'∩',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8746;',1,0, N'∪',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8747;',1,0, N'∫',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8756;',1,0, N'∴',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8764;',1,0, N'∼',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8773;',1,0, N'≅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8776;',1,0, N'≈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8800;',1,0, N'≠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8801;',1,0, N'≡',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8804;',1,0, N'≤',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8805;',1,0, N'≥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8834;',1,0, N'⊂',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8835;',1,0, N'⊃',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8836;',1,0, N'⊄',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8838;',1,0, N'⊆',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8839;',1,0, N'⊇',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8853;',1,0, N'⊕',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8855;',1,0, N'⊗',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8869;',1,0, N'⊥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8901;',1,0, N'⋅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8968;',1,0, N'⌈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8969;',1,0, N'⌉',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8970;',1,0, N'⌊',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#8971;',1,0, N'⌋',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#913;',1,0, N'Α',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#914;',1,0, N'Β',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#915;',1,0, N'Γ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#916;',1,0, N'Δ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#917;',1,0, N'Ε',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#918;',1,0, N'Ζ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#919;',1,0, N'Η',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#920;',1,0, N'Θ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#921;',1,0, N'Ι',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#922;',1,0, N'Κ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#923;',1,0, N'Λ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#924;',1,0, N'Μ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#925;',1,0, N'Ν',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#926;',1,0, N'Ξ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#927;',1,0, N'Ο',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#928;',1,0, N'Π',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#929;',1,0, N'Ρ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#931;',1,0, N'Σ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#932;',1,0, N'Τ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#933;',1,0, N'Υ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#934;',1,0, N'Φ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#935;',1,0, N'Χ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#936;',1,0, N'Ψ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#937;',1,0, N'Ω',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#950;',1,0, N'ζ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#951;',1,0, N'η',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#952;',1,0, N'θ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#953;',1,0, N'ι',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#954;',1,0, N'κ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#955;',1,0, N'λ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#956;',1,0, N'μ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#957;',1,0, N'ν',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#958;',1,0, N'ξ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#959;',1,0, N'ο',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#960;',1,0, N'π',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#961;',1,0, N'ρ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#962;',1,0, N'ς',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#963;',1,0, N'σ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#964;',1,0, N'τ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#965;',1,0, N'υ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#966;',1,0, N'φ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#967;',1,0, N'χ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#9674;',1,0, N'◊',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#968;',1,0, N'ψ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#969;',1,0, N'ω',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#977;',1,0, N'ϑ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#978;',1,0, N'ϒ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#982;',1,0, N'ϖ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#9824;',1,0, N'♠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#9827;',1,0, N'♣',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#9829;',1,0, N'♥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&#9830;',1,0, N'♦',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&alefsym;',1,0, N'ℵ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&alpha;',1,0, N'α',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Alpha;',1,0, N'Α',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&and;',1,0, N'∧',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&ang;',1,0, N'∠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&asymp;',1,0, N'≈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&bdquo;',1,0, N'„',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Beta;',1,0, N'Β',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&beta;',1,0, N'β',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&cap;',1,0, N'∩',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Chi;',1,0, N'Χ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&chi;',1,0, N'χ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&circ;',1,0, N'ˆ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&clubs;',1,0, N'♣',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&cong;',1,0, N'≅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&crarr;',1,0, N'↵',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&cup;',1,0, N'∪',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&dagger;',1,0, N'†',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Dagger;',1,0, N'‡',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&darr;',1,0, N'↓',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&dArr;',1,0, N'⇓',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Delta;',1,0, N'Δ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&delta;',1,0, N'δ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&diams;',1,0, N'♦',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&empty;',1,0, N'∅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&ensp;',1,0, N' ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Epsilon;',1,0, N'Ε',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&epsilon;',1,0, N'ε',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&equiv;',1,0, N'≡',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Eta;',1,0, N'Η',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&eta;',1,0, N'η',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&euro;',1,0, N'€',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&exist;',1,0, N'∃',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&fnof;',1,0, N'ƒ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&forall;',1,0, N'∀',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&frasl;',1,0, N'⁄',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Gamma;',1,0, N'Γ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&gamma;',1,0, N'γ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&ge;',1,0, N'≥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&harr;',1,0, N'↔',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&hArr;',1,0, N'⇔',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&hearts;',1,0, N'♥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&image;',1,0, N'ℑ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&infin;',1,0, N'∞',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&int;',1,0, N'∫',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Iota;',1,0, N'Ι',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&iota;',1,0, N'ι',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&isin;',1,0, N'∈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Kappa;',1,0, N'Κ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&kappa;',1,0, N'κ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Lambda;',1,0, N'Λ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&lambda;',1,0, N'λ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&larr;',1,0, N'←',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&lArr;',1,0, N'⇐',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&lceil;',1,0, N'⌈',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&le;',1,0, N'≤',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&lfloor;',1,0, N'⌊',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&lowast;',1,0, N'∗',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&loz;',1,0, N'◊',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&minus;',1,0, N'−',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Mu;',1,0, N'Μ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&mu;',1,0, N'μ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&nabla;',1,0, N'∇',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&ne;',1,0, N'≠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&ni;',1,0, N'∋',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&notin;',1,0, N'∉',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&nsub;',1,0, N'⊄',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Nu;',1,0, N'Ν',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&nu;',1,0, N'ν',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&oelig;',1,0, N'œ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&OElig;',1,0, N'Œ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&oline;',1,0, N'‾',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Omega;',1,0, N'Ω',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&omega;',1,0, N'ω',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Omicron;',1,0, N'Ο',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&omicron;',1,0, N'ο',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&oplus;',1,0, N'⊕',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&or;',1,0, N'∨',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&otimes;',1,0, N'⊗',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&part;',1,0, N'∂',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&permil;',1,0, N'‰',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&perp;',1,0, N'⊥',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Phi;',1,0, N'Φ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&phi;',1,0, N'φ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Pi;',1,0, N'Π',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&pi;',1,0, N'π',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&piv;',1,0, N'ϖ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&prime;',1,0, N'′',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Prime;',1,0, N'″',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&prod;',1,0, N'∏',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&prop;',1,0, N'∝',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Psi;',1,0, N'Ψ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&psi;',1,0, N'ψ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&radic;',1,0, N'√',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&rarr;',1,0, N'→',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&rArr;',1,0, N'⇒',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&rceil;',1,0, N'⌉',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&real;',1,0, N'ℜ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&rfloor;',1,0, N'⌋',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Rho;',1,0, N'Ρ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&rho;',1,0, N'ρ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sbquo;',1,0, N'‚',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&scaron;',1,0, N'š',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Scaron;',1,0, N'Š',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sdot;',1,0, N'⋅',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Sigma;',1,0, N'Σ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sigma;',1,0, N'σ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sigmaf;',1,0, N'ς',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sim;',1,0, N'∼',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&spades;',1,0, N'♠',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sub;',1,0, N'⊂',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sube;',1,0, N'⊆',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sum;',1,0, N'∑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&sup;',1,0, N'⊃',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&supe;',1,0, N'⊇',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&tau;',1,0, N'τ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Tau;',1,0, N'Τ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&there4;',1,0, N'∴',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Theta;',1,0, N'Θ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&theta;',1,0, N'θ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&thetasym;',1,0, N'ϑ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&thinsp;',1,0, N' ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&tilde;',1,0, N'˜',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&trade;',1,0, N'™',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&uarr;',1,0, N'↑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&uArr;',1,0, N'⇑',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&upsih;',1,0, N'ϒ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Upsilon;',1,0, N'Υ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&upsilon;',1,0, N'υ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&weierp;',1,0, N'℘',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Xi;',1,0,N'Ξ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&xi;',1,0,N'ξ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&Zeta;',1,0, N'Ζ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&zeta;',1,0, N'ζ',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&zwj;',1,0, N'‍',null,1,'qsiDBA',GetDate(),'Generic')
--insert into #HTMLTags (SYSTEM_RECORD,HTMLTagString,ASCIIMode,HTMLLiteMode,ReplacementStringASCIIMode,ReplacementStringHTMLLiteMode,HTMLEscapeCode,LastUser,LastMaintDate,Notes) values(1,'&zwnj;',1,0, N'‌',null,1,'qsiDBA',GetDate(),'Generic')

--select COUNT(*) from #HTMLTags 
--truncate table HTMLTags 

--There are FIVE cases to consider (not mutually exclusive)
--1) The new generic (system) record contains a HTMLTagString that isn't already in the client system at all
-- ... insert the new system record
--2) The new generic (system) record contains a HTMLTagString that exists in the client system but has a different ReplacementString value (either Text or HTML) AND IS MARKED SYSTEM in the client
-- ... don't update/insert anything into HTMLTags
-- ... Write 2 records to the HTMLTagsConfigurationExceptions table:
-- ... a) Copy the old the exisitng record from HTMLTags into HTMLTagsConfigurationExceptions
-- ... b) Insert the new rule into HTMLTagsConfigurationExceptions
-- ... c) Make sure the ExceptionKey is set the same for both records
-- ... d) make sure the ExceptionType is set (MODIFY, ADD, DELETE)
--3) The new generic (system) record contains a HTMLTagString that exists in the client system but has a different ReplacementString value (either Text or HTML) AND IS NOT MARKED SYSTEM in the client
-- ... update/insert new generic rule ... leave the existing custom rule
--4) A system record for the new generic record already exisits
-- ... do nothing - we're good
--5) If there are records where SYSTEM_RECORD=1 in the old system but not in the new 
-- ... copy the record to the exception table and lark as "DELETE"

--ExceptionType:
--1) ACCEPT NEW RULE = UPDATE the existing generic record with the new information (generally because FB decides to change default behavior)
--2) CREATE NEW CUSTOM RULE = UPDATE the old record to CUSTOM status which means it takes precedence + insert the new generic record which will remain inactive as long as the CUSTOM record exists
--3) KEEP EXISTING CUSTOM RULE = The client already has a custom and a generic rule ... 
--	... KEEP their Custom as is
--	... UPDATE their generic
--4) DELETE = delete OLD GENERIC RULE
--5) ACCEPT NEW RULE AND REMOVE CUSTOM RULE = UPDATE the existing generic record with the new information AND delete existing CUSTOM

TRUNCATE TABLE HTMLTagsConfigurationExceptions

--STEP ONE ... insert new records
--test::delete from HTMLTags where HTMLTagString='&#8482;'
INSERT INTO HTMLTags (
	SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT new.SYSTEM_RECORD
	,new.HTMLTagString
	,new.ASCIIMode
	,new.HTMLLiteMode
	,new.ReplacementStringASCIIMode
	,new.ReplacementStringHTMLLiteMode
	,new.HTMLEscapeCode
	,new.LastUser 
	,new.LastMaintDate
	,new.Notes 
FROM #HTMLTags new
	LEFT JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
WHERE old.HTMLTagString IS NULL

--STEP TWO ... update changed records
INSERT INTO HTMLTagsConfigurationExceptions (
	HTMLTagsConfigurationExceptionsKey
	,HTMLTagsConfigurationExceptionsType
	,SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT 
	old.HTMLTagsKey
	,CASE WHEN oldCUSTOM.SYSTEM_RECORD IS NULL THEN 'ACCEPT NEW RULE' ELSE 'ACCEPT NEW RULE AND REMOVE CUSTOM RULE' END
	,new.SYSTEM_RECORD
	,new.HTMLTagString
	,new.ASCIIMode
	,new.HTMLLiteMode
	,new.ReplacementStringASCIIMode
	,new.ReplacementStringHTMLLiteMode
	,new.HTMLEscapeCode
	,new.LastUser 
	,new.LastMaintDate
	,new.Notes 
FROM #HTMLTags new
	INNER JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
	LEFT JOIN HTMLTags oldCUSTOM ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = oldCUSTOM.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS AND oldCUSTOM.SYSTEM_RECORD = 0
WHERE (
		COALESCE(new.ReplacementStringASCIIMode, '') <> COALESCE(old.ReplacementStringASCIIMode, '')
		OR COALESCE(new.ReplacementStringHTMLLiteMode, '') <> COALESCE(old.ReplacementStringHTMLLiteMode, '')
		OR COALESCE(new.ASCIIMode, '') <> COALESCE(old.ASCIIMode, '')
		OR COALESCE(new.HTMLLiteMode, '') <> COALESCE(old.HTMLLiteMode, '')
		)
	AND old.SYSTEM_RECORD = 1

INSERT INTO HTMLTagsConfigurationExceptions (
	HTMLTagsConfigurationExceptionsKey
	,HTMLTagsConfigurationExceptionsType
	,SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT 
	old.HTMLTagsKey
	,'CREATE NEW CUSTOM RULE'
	,old.SYSTEM_RECORD
	,old.HTMLTagString
	,old.ASCIIMode
	,old.HTMLLiteMode
	,old.ReplacementStringASCIIMode
	,old.ReplacementStringHTMLLiteMode
	,old.HTMLEscapeCode
	,old.LastUser 
	,old.LastMaintDate
	,old.Notes 
FROM #HTMLTags new
	INNER JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
WHERE (
		COALESCE(new.ReplacementStringASCIIMode, '') <> COALESCE(old.ReplacementStringASCIIMode, '')
		OR COALESCE(new.ReplacementStringHTMLLiteMode, '') <> COALESCE(old.ReplacementStringHTMLLiteMode, '')
		OR COALESCE(new.ASCIIMode, '') <> COALESCE(old.ASCIIMode, '')
		OR COALESCE(new.HTMLLiteMode, '') <> COALESCE(old.HTMLLiteMode, '')
		)
	AND old.SYSTEM_RECORD = 1

INSERT INTO HTMLTagsConfigurationExceptions (
	HTMLTagsConfigurationExceptionsKey
	,HTMLTagsConfigurationExceptionsType
	,SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT 
	new.HTMLTagsConfigurationExceptionsKey
	,'KEEP EXISTING CUSTOM RULE'
	,old.SYSTEM_RECORD
	,old.HTMLTagString
	,old.ASCIIMode
	,old.HTMLLiteMode
	,old.ReplacementStringASCIIMode
	,old.ReplacementStringHTMLLiteMode
	,old.HTMLEscapeCode
	,old.LastUser 
	,old.LastMaintDate
	,old.Notes 
FROM HTMLTagsConfigurationExceptions new
	INNER JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
WHERE old.SYSTEM_RECORD = 0
	AND new.HTMLTagsConfigurationExceptionsType LIKE ('ACCEPT NEW RULE%')
	

--STEP THREE
INSERT INTO HTMLTags (
	SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT new.SYSTEM_RECORD
	,new.HTMLTagString
	,new.ASCIIMode
	,new.HTMLLiteMode
	,new.ReplacementStringASCIIMode
	,new.ReplacementStringHTMLLiteMode
	,new.HTMLEscapeCode
	,new.LastUser 
	,new.LastMaintDate
	,new.Notes 
FROM #HTMLTags new
	INNER JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
	LEFT JOIN HTMLTags oldGENERIC ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = oldGENERIC.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
WHERE (
		COALESCE(new.ReplacementStringASCIIMode, '') <> COALESCE(old.ReplacementStringASCIIMode, '')
		OR COALESCE(new.ReplacementStringHTMLLiteMode, '') <> COALESCE(old.ReplacementStringHTMLLiteMode, '')
		OR COALESCE(new.ASCIIMode, '') <> COALESCE(old.ASCIIMode, '')
		OR COALESCE(new.HTMLLiteMode, '') <> COALESCE(old.HTMLLiteMode, '')
		)
	AND old.SYSTEM_RECORD = 0
	AND oldGENERIC.SYSTEM_RECORD IS NULL
	
--STEP FOUR ... ALL SET

--STEP FIVE 
INSERT INTO HTMLTagsConfigurationExceptions (
	HTMLTagsConfigurationExceptionsKey
	,HTMLTagsConfigurationExceptionsType
	,SYSTEM_RECORD
	,HTMLTagString
	,ASCIIMode
	,HTMLLiteMode
	,ReplacementStringASCIIMode
	,ReplacementStringHTMLLiteMode
	,HTMLEscapeCode
	,LastUser 
	,LastMaintDate
	,Notes 
	)
SELECT 
	old.HTMLTagsKey
	,'DELETE'
	,old.SYSTEM_RECORD
	,old.HTMLTagString
	,old.ASCIIMode
	,old.HTMLLiteMode
	,old.ReplacementStringASCIIMode
	,old.ReplacementStringHTMLLiteMode
	,old.HTMLEscapeCode
	,old.LastUser 
	,old.LastMaintDate
	,old.Notes 
FROM #HTMLTags new
	RIGHT JOIN HTMLTags old ON new.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS = old.HTMLTagString Collate SQL_Latin1_General_CP1_CS_AS
WHERE NEW.HTMLTagString IS NULL

IF (SELECT COUNT(*) FROM HTMLTagsConfigurationExceptions)>0 
BEGIN
	PRINT 'PLEASE CHECK THE HTMLTagsConfigurationExceptions TABLE'
	SELECT * FROM HTMLTagsConfigurationExceptions ORDER BY HTMLTagsConfigurationExceptionsKEY, HTMLTagsConfigurationExceptionsTYPE
END	

SET NOCOUNT OFF